<h1>Welcome to Matestack!</h1>
<h3>What is Matestack?</h3>
<p class="lead">Matestack UI to make reactive components for Rails apps in pure Ruby with no Javascript needed!.</p>

<div class="alert" class="primary">
  Hell, its gonna be awesome!
</div>


<%= Components::Card.call(title: "hello", body: "world") %>
